<%= render "navbar" %>
<%= render "home/partials/header" %>


<div class="container">
	<ul class="list-unstyled">
		<%= render "home/partials/blog_item" %>
		<%= render "home/partials/blog_item" %>
		<%= render "home/partials/blog_item" %>
		<%= render "home/partials/blog_item" %>
		<%= render "home/partials/blog_item" %>
		<%= render "home/partials/blog_item" %>
		<%= render "home/partials/blog_item" %>
		<%= render "home/partials/blog_item" %>
		<%= render "home/partials/blog_item" %>
	</ul>
</div>